html, body {
    background-color: rgb(20,20,20);
    color: rgb(200,200,200);
    margin: 0;
    padding: 0;
    font-family: Arial, Verdana, Sans-serif;
}

.top_rectangle {
    width: 100vw;
    height: 10vh;
    background-color: rgb(200, 10, 10);
    margin: 0;
}

a {
    color: white;
    text-decoration: none
}

.title {
    position: absolute;
    left: 1vw;
    top: 2vh
}

.title2 {
    position: absolute;
    left: 1.5vw;
    top: 10vh;
}


.repairs {
    position: absolute;
    left: 30vw;
    top: 2vh;
}

.builds {
    position: absolute;
    left: 44vw;
    top: 2vh;
}

.web {
    position: absolute;
    left: 60vw;
    top: 2vh;

}

.linode {
    color: green;
}

.laptop {
    height: 40vh;
    width: 60vh;
    position: absolute;
    left: 60vw;
    top: 30vh;
}

.reparations_title {
    position: absolute;
    top: 20vh;
    left: 20vw;
    text-decoration-line: underline;
}

.reparations_body {
    position: absolute;
    top: 25vh;
    left: 20vw;
}

.index_title {
    position: absolute;
    top: 20vh;
    left: 12vw;
}

.index_subtitle {
    position: absolute;
    top: 25vh;
    left: 12vw;
}

.index_body {
    position: absolute;
    top: 33vh;
    left: 12vw;

}

.face {
    position: absolute;
    top: 20vh;
    left: 60vw;
}

.contacts {
    position: absolute;
    top: 2vh;
    left: 60vw;
}

.build_title {
    position: absolute;
    top: 20vh;
    left: 20vw;

}

.build_body {
    position: absolute;
    top: 25vh;
    left: 20vw;

}

.pc_build_image {
    height: 40vh;
    width: 30vw;
    position: absolute;
    top: 30vh;
    left: 60vw;
}

.contact_title {
    position: absolute;
    top: 20vh;
    left: 20vw;
}

.contact_body {
    position: absolute;
    top: 25vh;
    left: 20vw;
}